table, tr, th, td{
border: 2px solid black;
border-collapse: collapse;
}

body{ 
    font-size: 150%; /* Размер шрифта в процентах */ 
   }
ul li{
	display:inline;
}
ul a{
border: 1px dashed #000;
border-bottom:none;
padding:5px 15px 5px 15px;
margin-right:5px;
background-color: #EAEAEA;
text-decoration: none;
color: #333;
}
